---
layout: default
---

<header class="hero">
  <div class="wrapper">
    <div class="section-content">
    <h1>
      <span class="logo">notsolinear</span> is an interface design studio dedicated to removing the mystery around how modern AI makes decisions
    </h1>
  </div>
  </div>

</header>

<div class="home">

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="section-content">
          {{ content }}
        </div>
      </div>
    </main>


</div>
