---
layout: default
---

<header class="hero">
  <div class="wrapper">
    <div class="section-content">
    <h1>
      <a href="/"><span class="logo">notsolinear</span></a> is an interface design studio dedicated to removing the mystery around how modern AI makes decisions
    </h1>
  </div>
  </div>

</header>



<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="section-content">
          {{ content }}
        </div>
      </div>
    </main>

  {% if site.posts.size > 0 %}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if site.show_excerpts %}
          {{ post.excerpt }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {% endif %}

</div>
